# Streamlit secrets
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*$py.class

.stroge

# Environment
.env
.venv
env/
venv/
ENV/
chatAi.ipynb
chatbot.ipynb
chatbot.py
customers-100.csv
hello.ipynb
lamaBot.py
panda.ipynb
query.txt
past/requirements.txt
past/simple_csv_rag_with_llamaindex.ipynb
