# langchain
# langchain_core
# langchain_community 
# langchain_openai
# langchain_HuggingFace
# faiss-cpu
# ipykernel
# python-dotenv
# langchain_groq
# streamlit

%pip install llama-index-llms-openai llama-index-experimental